/* Font family for entire document */
*{
  font-family: sans-serif;
}

/* ============================================================================
/* Container Styling
/* ============================================================================

/* Ensuring overlying divs are pushed to the page extents*/
html, body{
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

/* Container div spanning entire page extent, GIS API in this DIV */
.container{
  height: 100vh;
}

/* Background image spanning page enxtent, placeholder for GIS API */
.background-img{
  height: 100vh;
  width: 100%;
}

/* Container div for all subsequent overlay elements, nav, aside, footer, main, ect.*/
.overlay{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 100%;
}

/* ============================================================================
/* Nav Styling
/* ============================================================================

/* Navigation Parent */
nav {
  display: flex;
  height: 32px;
  width: 50%;
  float: right;
  background-color: #4b609a90; /*THEMING*/
  align-items: center;
  margin: 5px;
  border-radius: 5px;
  font-size: 1.1vw;
}

/* Search bar */
nav input[type="search"] {
  height: 24px;
  flex: 4;
  margin-left: 2%;
  margin-right: 1%;
  border: 0;
  border-radius: 5px;
  text-align: center;
  background-color: #16272B; /*THEMING*/
  color: white;
  cursor: text;
}
.searchbar:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.searchbar::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

/* Search query toggle */
nav select {
  height: 24px;
  flex: 2;
  margin-left: 1%;
  margin-right: 1%;
  border: 0;
  border-radius: 5px;
  text-align: center;
  background-color: #16272B; /*THEMING*/
  color:  white;
  cursor: pointer;
}
.query:hover {
  transform: scale(1.05);
  cursor: pointer;
}


/* Search button */
nav button {
  height: 24px;
  flex: 1;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 5px;
  border: 0;
  text-align: center;
  background-color: #16272B; /*THEMING*/
  color: white;
  cursor: pointer;
}
.searchbutton:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Drop down menu button */
nav img {
  height: 24px;
  flex: 0.5;
  border: 0;
  margin-left: 1%;
  margin-right: 2%;
  cursor: pointer;
}
.dropaside:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* ============================================================================
/* Main Styling
/* ============================================================================

/* Styling for main parent */
main {
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* ============================================================================
/* Aside Styling
/* ============================================================================

/* Styling for aside child */
.menu {
  font-size: 1.2vw;
  position: absolute;
  float: right;
  right: -1000px;
  margin: 5px;
  background-color: lightgrey;
  width: 30%;
  border-radius: 5px;
  outline: black solid 1px;
  transition: right 1s;
}

/* Styling for close menu icon in aside tab */
.menu img{
  width: 24px;
  float: right;
  margin: 5px;
  cursor: pointer;
}

/* Styling for h2 child */
.menu h2 {
  align-items: center;
  font-size: 125%;
  margin-left: 5px;
}

/* Styling for h3 children */
.menu h3 {
  align-items: center;
  font-size: 100%;
  margin-left: 5px;
}

/* Class applied to lists in aside-menu */
.no-bullets-list{
  list-style-type: none;
  padding: 0;
  padding-right: 10px;
}

/* Add styling to menu options */
.no-bullets-list li a{
  text-decoration: none;
  color: black;
  font-size: 100%;
}

/* Add hover styling effect */
.no-bullets-list li a:hover{
  font-weight: 700;
}

/* Styling for lists */
ul li {
  margin: 5px;
  padding: 0px;
}

/*============================================================================
/* Footer search results
/*============================================================================

/* FOOTER */
.search-results{
  font-size: 1.2vw;
  position: absolute;
  bottom: -1000px;
  background-color: lightgrey;
  width: 98%;
  margin: 1%;
  max-height: 80%; 
  border-radius: 5px;
  outline: black solid 1px;
  transition: bottom 1s;
  overflow: auto;
}

/* Styling for exit button */
.search-results img{
  width: 24px;
  float: right;
  margin: 5px;
  cursor: pointer;
}

/* Styling for search results heading */
.search-results h2{
  align-items: center;
  font-size: 125%;
  margin-left: 1%;
}

/* Styling for temp search output text, large font to exhibit scroll bar once search output reaches maximum */
.search-results p{
  display: flex;
  flex: auto;
  margin: 1%;
}

/*============================================================================
/* Search Results Table 
/*============================================================================

/* Styling for search results table */
.tabular-results{
  width: 98%;
  margin: 1%;
  border-collapse: collapse;
}

/* Styling for rows and columns of results table */
.tabular-results, thead, tbody{
  border: black solid 1px;
  text-align: left;
  padding: 0.5%
}

/* Shading for every odd row */ 
.tabular-results tr:nth-child(even){
  background-color: grey;
}

/* Hide for displaying search results */
.hide{
  display: none;
}