/* Font family for entire document */
*{
  font-family: sans-serif;
}

/* CONTAINER STYLING */

/* Ensuring overlying divs are pushed to the page extents*/
html, body{
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

/* Container div spanning entire page extent, GIS API in this DIV */
.container{
  height: 100vh;
}

/* Background image spanning page enxtent, placeholder for GIS API */
.background-img{
  height: 100vh;
  width: 100%;
}

/* Container div for all subsequent overlay elements, nav, aside, footer, main, ect.*/
.overlay{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 100%;
}

/* NAV STYLING */

/* Navigation Parent */
nav {
  display: flex;
  height: 32px;
  width: 50%;
  float: right;
  background-color: rgba(245, 245, 245, 0.30);
  align-items: center;
  margin: 5px;
  border-radius: 5px;
  font-size: 1.1vw;
}

/* Input search child - styling both the button and search bar */
nav input {
  font-size: 100%;
  height: 24px;
}

/* DImage controling dropdown aside */
nav img {
  width: 24px;
  border: 0;
  margin-left: 5%;
  margin-right: 5px;
  cursor: pointer;
}

/* Search bar child */
nav input[type="search"] {
  flex: 5;
  border: 1;
  margin-left: 1%;
  margin-right: 1%;
  cursor: text;
}

/* Search button child */
nav input[type="submit"] {
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
  background: blue;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* MAIN STYLING */

/* Styling for main parent */
main {
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* ASIDE STYLINE */

/* Styling for aside child */
.menu {
  font-size: 1.2vw;
  position: absolute;
  float: right;
  right: -1000px;
  margin: 5px;
  background-color: lightgrey;
  width: 30%;
  border-radius: 5px;
  outline: solid;
  outline-width: 1px;
  outline-color: black;
  transition: right 1s;
}

/* Styling for close menu icon in aside tab */
.menu img{
  width: 24px;
  float: right;
  margin: 5px;
  cursor: pointer;
}

/* Styling for h2 child */
.menu h2 {
  align-items: center;
  font-size: 125%;
  margin-left: 5px;
}

/* Styling for h3 children */
.menu h3 {
  align-items: center;
  font-size: 100%;
  margin-left: 5px;
}

/* Class applied to lists in aside-menu */
.no-bullets-list{
  list-style-type: none;
  padding: 0;
  padding-right: 10px;
}

/* Add styling to menu options */
.no-bullets-list li a{
  text-decoration: none;
  color: black;
  font-size: 100%;
}

/* Add hover styling effect */
.no-bullets-list li a:hover{
  font-weight: 700;
}

/* Styling for lists */
ul li {
  margin: 5px;
  padding: 0px;
}

/* FOOTER */
.search-results{
  font-size: 1.2vw;
  position: absolute;
  bottom: -1000px;
  background-color: lightgrey;
  width: 98%;
  margin: 1%;
  max-height: 80%;
  border-radius: 5px;
  outline: solid;
  outline-width: 1px;
  outline-color: black;
  transition: bottom 1s;
  overflow: auto;
}

/* Styling for exit button */
.search-results img{
  width: 24px;
  float: right;
  margin: 5px;
  cursor: pointer;
}

/* Styling for search results heading */
.search-results h2{
  align-items: center;
  font-size: 125%;
  margin-left: 1%;
}

/* Styling for temp search output text, large font to exhibit scroll bar once search output reaches maximum */
.search-results p{
  display: flex;
  flex: auto;
  margin: 1%;
}

/* Styling for search results table */
.tabular-results{
  width: 98%;
  margin: 1%;
  border-collapse: collapse;
}

/* Styling for rows and columns of results table */
.tabular-results td, th{
  border: 1px solid black;
  text-align: left;
  padding: 1%;
}

/* Shading for every odd row */ 
.tabular-results tr:nth-child(even){
  background-color: grey;
}

/* YOUTUBE VIDEO STYLING */
.user-cards{
  display: gird;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.25rem;
  margin-top: 1rem;
}

.card{
  border: 1px solid black;
  background-color: white;
  padding: 0.5rem;
  border-radius: 5px;
}

.card > .header {
  margin-bottom: 0.25rem;
}

.card > .body{
  font-size: 0.8rem;
  color: #777;
}

.hide{
  display: none;
}